# MySQLDB Manager Usage Examples

This notebook demonstrates how to use the `MySQLDB` manager class to create, manage, and interact with a MySQL database in a Docker container. We'll use Python and SQL cell magic to showcase the package functionality.

## Setup

### Install Required Packages

In [1]:
!pip install ipython-sql==0.5.0 py-dockerdb pymysql

Requirement already satisfied: ipython-sql==0.5.0 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (0.5.0)
Requirement already satisfied: py-dockerdb in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (0.8.0)
Requirement already satisfied: pymysql in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (1.1.1)
Requirement already satisfied: prettytable in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from ipython-sql==0.5.0) (3.8.0)
Requirement already satisfied: ipython in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from ipython-sql==0.5.0) (9.2.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from ipython-sql==0.5.0) (2.0.41)
Requirement already satisfied: sqlparse in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from ipython-sql==0.5.0) (0.5.3)
Requirement already satisfied: six in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from ipython-sql==0.5.0) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from ipython-sql==0.5.0) (0.2.0)
Requirement already satisfied: psycopg2-binary in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from py-dockerdb) (2.9.10)
Requirement already satisfied: docker in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from py-dockerdb) (7.1.0)
Requirement already satisfied: pytest in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from py-dockerdb) (8.3.5)
Requirement already satisfied: pymongo in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from py-dockerdb) (4.13.0)
Requirement already satisfied: pydantic in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from py-dockerdb) (2.11.4)
Requirement already satisfied: setuptools in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from py-dockerdb) (80.7.1)
Requirement already satisfied: pyodbc in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from py-dockerdb) (5.2.0)
Requirement already satisfied: mysql-connector-python in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from py-dockerdb) (9.3.0)
Requirement already satisfied: pydos2unix in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from py-dockerdb) (0.0.1)
Requirement already satisfied: greenlet>=1 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql==0.5.0) (3.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql==0.5.0) (4.13.2)
Requirement already satisfied: pywin32>=304 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from docker->py-dockerdb) (310)
Requirement already satisfied: requests>=2.26.0 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from docker->py-dockerdb) (2.32.3)
Requirement already satisfied: urllib3>=1.26.0 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from docker->py-dockerdb) (2.4.0)
Requirement already satisfied: colorama in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from ipython->ipython-sql==0.5.0) (0.4.6)
Requirement already satisfied: decorator in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from ipython->ipython-sql==0.5.0) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from ipython->ipython-sql==0.5.0) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from ipython->ipython-sql==0.5.0) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from ipython->ipython-sql==0.5.0) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from ipython->ipython-sql==0.5.0) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from ipython->ipython-sql==0.5.0) (2.19.1)
Requirement already satisfied: stack_data in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from ipython->ipython-sql==0.5.0) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from ipython->ipython-sql==0.5.0) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from prettytable->ipython-sql==0.5.0) (0.2.13)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from pydantic->py-dockerdb) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from pydantic->py-dockerdb) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from pydantic->py-dockerdb) (0.4.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from pymongo->py-dockerdb) (2.7.0)
Requirement already satisfied: iniconfig in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from pytest->py-dockerdb) (2.1.0)
Requirement already satisfied: packaging in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from pytest->py-dockerdb) (25.0)
Requirement already satisfied: pluggy<2,>=1.5 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from pytest->py-dockerdb) (1.6.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql==0.5.0) (0.8.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from requests>=2.26.0->docker->py-dockerdb) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from requests>=2.26.0->docker->py-dockerdb) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from requests>=2.26.0->docker->py-dockerdb) (2025.4.26)
Requirement already satisfied: executing>=1.2.0 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from stack_data->ipython->ipython-sql==0.5.0) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from stack_data->ipython->ipython-sql==0.5.0) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\acisse\onedrive - bridgingit-gruppe\003_codeworkspace\003_private\duplicateworkspaces\docker-db\.venv\lib\site-packages (from stack_data->ipython->ipython-sql==0.5.0) (0.2.3)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### Import Dependencies

In [2]:
import uuid
from pathlib import Path
from docker_db.mysql_db import MySQLConfig, MySQLDB

# For SQL cell magic
%load_ext sql

## Creating a MySQL Database Instance

Let's create a temporary directory for our database files:

In [3]:
import tempfile
import os

temp_dir = Path("tmp")
temp_dir.mkdir(exist_ok=True)
container_name = f"demo-mysql-{uuid.uuid4().hex[:8]}"
init_script_path = Path("configs", "mysql", "initdb.sql")
init_script_path.exists()

True

In [4]:
from utils import display_sql_script
display_sql_script(init_script_path)

```sql
-- MySQL Initialization Script
-- This script runs when the database container starts

-- Ensure we're using the correct database
USE demodb;

-- Create table if it doesn't exist
CREATE TABLE IF NOT EXISTS test_table (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    environment VARCHAR(100)
);

-- Insert test data using environment variable
INSERT INTO test_table (name, environment)
VALUES ('Test Entry', @YourEnvVar);

-- Create a sample function
DELIMITER $$
CREATE FUNCTION IF NOT EXISTS get_env_info()
RETURNS VARCHAR(255)
READS SQL DATA
DETERMINISTIC
BEGIN
    DECLARE env_value VARCHAR(255);
    SELECT environment INTO env_value FROM test_table LIMIT 1;
    RETURN CONCAT('Environment: ', IFNULL(env_value, 'Not Set'));
END$$
DELIMITER ;
```

Now, let's set up the MySQLDB configuration:

In [ ]:
# Create a configuration for our database
config = MySQLConfig(
    user="demouser",
    password="demopass",
    database="demodb",
    root_password="rootpass",
    project_name="demo",
    workdir=temp_dir,
    container_name=container_name,
    retries=20,
    delay=3,
    init_script=init_script_path,
    env_vars={"YourEnvVar": "TestEnvironment"}, 
)

# Initialize the database manager
db_manager = MySQLDB(config)

## Start the Database

We'll now create and start the database:

In [6]:
# Create and start the database
db_manager.create_db()
print(f"Database started successfully in container '{container_name}'")
print(f"Connection details:")
print(f"  Host: {config.host}")
print(f"  Port: {config.port}")
print(f"  User: {config.user}")
print(f"  Database: {config.database}")

Creating database 'demodb'...
Database started successfully in container 'demo-mysql-1379a640'
Connection details:
  Host: localhost
  Port: 3306
  User: demouser
  Database: demodb

## Connect and Run SQL Queries

Now that our database is running, let's connect to it using SQL cell magic:

In [17]:
# Define the connection string for SQL magic
conn_string = db_manager.connection_string(sql_magic=True)
%sql $conn_string

In [ ]:
%sql
SELECT * FROM test_table;

### Creating a Table

In [18]:
%%sql
CREATE TABLE demo_users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(50) UNIQUE NOT NULL,
    email VARCHAR(100) UNIQUE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

 * mysql+pymysql://demouser:***@localhost:3306/demodb
0 rows affected.

[]

### Insert Data

In [19]:
%%sql
INSERT INTO demo_users (username, email) VALUES
    ('alice', 'alice@example.com'),
    ('bob', 'bob@example.com'),
    ('charlie', 'charlie@example.com');

 * mysql+pymysql://demouser:***@localhost:3306/demodb
3 rows affected.

[]

### Query Data

In [20]:
%%sql
SELECT * FROM demo_users;

 * mysql+pymysql://demouser:***@localhost:3306/demodb
3 rows affected.

[(1, 'alice', 'alice@example.com', datetime.datetime(2025, 5, 26, 11, 36, 20)),
 (2, 'bob', 'bob@example.com', datetime.datetime(2025, 5, 26, 11, 36, 20)),
 (3, 'charlie', 'charlie@example.com', datetime.datetime(2025, 5, 26, 11, 36, 20))]

### Run More Complex Queries

In [21]:
%%sql
-- Create another table for demonstration
CREATE TABLE demo_posts (
    id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT,
    title VARCHAR(100) NOT NULL,
    content TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES demo_users(id)
);

-- Insert some posts
INSERT INTO demo_posts (user_id, title, content) VALUES
    (1, 'Alice First Post', 'Hello world from Alice!'),
    (1, 'Alice Second Post', 'Another post from Alice'),
    (2, 'Bob Introduction', 'Hi, this is Bob!'),
    (3, 'Charlie Notes', 'Some notes from Charlie');
    
-- Query with JOIN
SELECT u.username, p.title, p.content
FROM demo_users u
JOIN demo_posts p ON u.id = p.user_id
ORDER BY u.username, p.created_at;

 * mysql+pymysql://demouser:***@localhost:3306/demodb
0 rows affected.
4 rows affected.
4 rows affected.

[('alice', 'Alice First Post', 'Hello world from Alice!'),
 ('alice', 'Alice Second Post', 'Another post from Alice'),
 ('bob', 'Bob Introduction', 'Hi, this is Bob!'),
 ('charlie', 'Charlie Notes', 'Some notes from Charlie')]

## Using Regular Python to Access the Database

You can also interact with the database using Python code and mysql-connector-python:

In [22]:
import mysql.connector

# Connect directly using our db_manager's connection property
conn = db_manager.connection

# Create a cursor
cursor = conn.cursor()

# Execute a query
cursor.execute("SELECT COUNT(*) as post_count FROM demo_posts")
result = cursor.fetchone()
print(f"Total number of posts: {result[0]}")

# Group by query
cursor.execute("""
    SELECT u.username, COUNT(p.id) as post_count 
    FROM demo_users u
    LEFT JOIN demo_posts p ON u.id = p.user_id
    GROUP BY u.username
    ORDER BY post_count DESC
""")

print("\nPost count by user:")
for row in cursor.fetchall():
    print(f"  {row[0]}: {row[1]} posts")

# Close the connection
cursor.close()
conn.close()

Total number of posts: 4

Post count by user:
  alice: 2 posts
  bob: 1 posts
  charlie: 1 posts

## Using MySQL-Specific Features

Let's try some MySQL-specific features like stored procedures:

In [23]:
%%sql
-- Create a stored procedure to get post count for a specific user
CREATE PROCEDURE GetUserPostCount(IN username_param VARCHAR(50))
BEGIN
    SELECT u.username, COUNT(p.id) as post_count
    FROM demo_users u
    LEFT JOIN demo_posts p ON u.id = p.user_id
    WHERE u.username = username_param
    GROUP BY u.username;
END;

-- Call the stored procedure
CALL GetUserPostCount('alice');

 * mysql+pymysql://demouser:***@localhost:3306/demodb
0 rows affected.
1 rows affected.

[('alice', 2)]

### Demonstrating MySQL Full-Text Search

In [24]:
%%sql
-- Create a table with full-text search capabilities
CREATE TABLE articles (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(100) NOT NULL,
    content TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FULLTEXT(title, content)
);

-- Insert some articles
INSERT INTO articles (title, content) VALUES
    ('MySQL Full-Text Search', 'This article explains how to use MySQL\'s powerful full-text search capabilities.'),
    ('Database Performance Tips', 'Learn how to optimize your MySQL database for better performance.'),
    ('Web Development Basics', 'A guide to getting started with web development using various technologies.');

-- Perform a full-text search
SELECT title, content, MATCH(title, content) AGAINST('mysql database') AS relevance
FROM articles
WHERE MATCH(title, content) AGAINST('mysql database')
ORDER BY relevance DESC;

 * mysql+pymysql://demouser:***@localhost:3306/demodb
0 rows affected.
3 rows affected.
2 rows affected.

[('Database Performance Tips', 'Learn how to optimize your MySQL database for better performance.', 0.48629751801490784),
 ('MySQL Full-Text Search', "This article explains how to use MySQL's powerful full-text search capabilities.", 0.062016263604164124)]

## Clean Up

When you're done with the database, you can delete it:

In [25]:
# Delete the database container
db_manager.delete_db()
print(f"Database container '{container_name}' deleted")

# Clean up the temporary directory
import shutil
shutil.rmtree(temp_dir)
print(f"Temporary directory '{temp_dir}' removed")

Database container 'demo-mysql-1379a640' deleted

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'tmp'

## Conclusion

This notebook demonstrated how to:

1. Configure and create a MySQL database with `MySQLDB`
2. Connect to the database using SQL cell magic
3. Execute SQL queries and create stored procedures
4. Use MySQL-specific features like full-text search
5. Use Python with mysql-connector to interact with the database 
6. Clean up the database when finished

The `MySQLDB` manager provides a convenient way to spin up MySQL instances in Docker containers for development, testing, or demonstration purposes.